.input-div {
	align-items: flex-start;
	padding: 25px;
}

.input-label {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: #999997;
}

.input-input {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	border: 0px;
	border-bottom: 1px #e3e3e3 solid;
	width: 100%;
	padding: 7px;
	margin-bottom: 1px;
}

.input-input:focus-visible {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	border: 0px;
	border-bottom: 1px #002aff solid;
	width: 100%;
	padding: 7px;
	outline: none;
	margin-bottom: 1px;
}

.input-input:active {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	border: 0px;
	border-bottom: 1px #00a2ff solid;
	width: 100%;
	padding: 7px;
	outline: none;
	margin-bottom: 1px;
}

.input-input:hover {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	border: 0px;
	border-bottom: 1px #000 solid;
	width: 100%;
	padding: 7px;
	outline: none;
	margin-bottom: 1px;
}
